@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/image/selfa.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
}
.gallery-item {
  transition: transform 0.3s ease;
}
.gallery-item:hover {
  transform: scale(1.03);
}

#statistics {
  background-image: url("/image/selfa.jpg");
}
.stat-number {
  font-size: 3.5rem;
  font-weight: 700;
  color: #00ab66;
}
.navbar {
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled .nav-link {
  color: #1a365d;
}

/* Tambahkan kode ini */
.navbar.scrolled .logo-text,
.navbar.scrolled #menu-btn i {
  color: #00ab66;
}

.navbar.scrolled .logo-text {
  color: #00ab66;
}
